{
  "openapi": "3.0.3",
  "info": {
    "title": "Discloud API",
    "description": "Esta é a API da Discloud",
    "termsOfService": "https://discloudbot.com/legal/terms",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.discloud.app/v2"
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "Informações sobre o Utilizador"
    },
    {
      "name": "Upload",
      "description": "Upload de aplicações"
    },
    {
      "name": "App",
      "description": "Rotas de gerenciamento do APP"
    },
    {
      "name": "Team",
      "description": "Rotas de gerencialmento da Team"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Info user",
        "description": "Informação sobre o usuario que o token pertence",
        "operationId": "getUser",
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/upload": {
      "post": {
        "tags": [
          "Upload"
        ],
        "summary": "Upload app",
        "description": "Upload de Aplicação",
        "operationId": "uploadApp",
        "requestBody": {
          "$ref": "#/components/requestBodies/sendFile"
        },
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/app/{appID}": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Info App",
        "description": "Obter informações num App ou de tudos",
        "operationId": "getInfoApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação ou \"all\" (sem apas) para ver tudos os apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/status": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Status App",
        "description": "Obter informações num App ou de tudos",
        "operationId": "getStatusApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação ou \"all\" (sem apas) para ver tudos os apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/logs": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Logs App",
        "description": "Ober os logs da aplicação",
        "operationId": "getLogsApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação ou \"all\" (sem apas) para ver tudos os apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/backup": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "Logs App",
        "description": "Ober os logs da aplicação",
        "operationId": "getBackupApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação ou \"all\" (sem apas) para ver tudos os apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/locale/{locale}": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Set locale",
        "description": "Muda a linguagem do Utilizador",
        "operationId": "setLocale",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "description": "Linguagem pertendida",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pt-BR",
                "en-US"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/start": {
      "put": {
        "tags": [
          "App"
        ],
        "summary": "Start App",
        "description": "Iniciar aplicação",
        "operationId": "startApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação ou \"all\" (sem apas) para ver tudos os apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/restart": {
      "put": {
        "tags": [
          "App"
        ],
        "summary": "Retart App",
        "description": "Reiniciar aplicação",
        "operationId": "restartApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação ou \"all\" (sem apas) para ver tudos os apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/stop": {
      "put": {
        "tags": [
          "App"
        ],
        "summary": "Stop App",
        "description": "Parar aplicação",
        "operationId": "stopApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação ou \"all\" (sem apas) para ver tudos os apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/ram": {
      "put": {
        "tags": [
          "App"
        ],
        "summary": "Set RAM App",
        "description": "Setar a RAM da App",
        "operationId": "setRamApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/setRam"
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/app/{appID}/commit": {
      "put": {
        "tags": [
          "App"
        ],
        "summary": "Commit App",
        "description": "Commit App",
        "operationId": "commitApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "description": "ID da Aplicação",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/sendFile"
        },
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    }
  },
  "security": [
    {
      "api-token": []
    }
  ],
  "components": {
    "requestBodies": {
      "sendFile": {
        "content": {
          "multipart/form-data": {
            "schema": {
              "required": [
                "file"
              ],
              "type": "object",
              "properties": {
                "file": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "setRam": {
        "content": {
          "application/json": {
            "schema": {
              "required": [
                "ramMB"
              ],
              "type": "object",
              "properties": {
                "ramMB": {
                  "type": "number",
                  "minimum": 100
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "api-token": {
        "type": "apiKey",
        "name": "api-token",
        "in": "header"
      }
    }
  }
}