{
  "openapi": "3.0.4",
  "info": {
    "title": "Discloud API",
    "description": "Bem Vindo à API da DisCloud!\nSinta-se à vontade para consultar e experimentar todas as rotas da nossa API nesta página!",
    "termsOfService": "https://discloudbot.com/legal/terms",
    "version": "2.0.0",
    "contact": {
      "name": "Suporte Discloud",
      "url": "https://discord.com/channels/@me/930852077045940224/",
      "email": "support@discloudbot.com"
    }
  },
  "servers": [
    {
      "url": "https://api.discloud.app/v2",
      "description": "Servidor de API de Produção"
    }
  ],
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Resource": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "userID": {
            "type": "string",
            "description": "O ID do usuário"
          },
          "totalRamMb": {
            "type": "integer",
            "description": "RAM total alocada (em MB)"
          },
          "ramUsedMb": {
            "type": "integer",
            "description": "RAM atualmente sendo usada (em MB)"
          },
          "subdomains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de subdomínios pertencentes"
          },
          "customdomains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de domínios personalizados pertencentes"
          },
          "apps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lista de IDs das aplicações pertencentes"
          },
          "plan": {
            "type": "string",
            "description": "O plano de assinatura"
          },
          "locale": {
            "type": "string",
            "description": "O idioma/localização"
          },
          "lastDataLeft": {
            "type": "object",
            "properties": {
              "days": {
                "type": "integer",
                "description": "Dias restantes no plano atual"
              },
              "hours": {
                "type": "integer",
                "description": "Horas restantes no plano atual"
              },
              "minutes": {
                "type": "integer",
                "description": "Minutos restantes no plano atual"
              },
              "seconds": {
                "type": "integer",
                "description": "Segundos restantes no plano atual"
              }
            },
            "description": "Tempo restante do plano atual"
          },
          "planDataEnd": {
            "type": "string",
            "format": "date-time",
            "description": "Data de término do plano atual"
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "LocaleResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "locale": {
            "type": "string",
            "enum": [
              "pt-BR",
              "en-US"
            ]
          }
        }
      },
      "LocaleErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "localeList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "UploadErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "App": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da aplicação"
          },
          "avatarURL": {
            "type": "string",
            "description": "URL para a imagem do avatar da aplicação"
          },
          "name": {
            "type": "string",
            "description": "Nome da aplicação"
          },
          "type": {
            "type": "integer",
            "description": "Tipo de aplicação"
          },
          "online": {
            "type": "boolean",
            "description": "Se a aplicação está atualmente online"
          },
          "ramKilled": {
            "type": "boolean",
            "description": "Se a aplicação foi desligada devido a ultrapassagem da quantidade de RAM"
          },
          "exitCode": {
            "type": "integer",
            "description": "Código de saída da aplicação, se ele foi interrompido"
          },
          "ram": {
            "type": "integer",
            "description": "RAM alocada para a aplicação (em MB)"
          },
          "mainFile": {
            "type": "string",
            "description": "Caminho do arquivo principal da aplicação"
          },
          "lang": {
            "type": "string",
            "description": "Linguagem de programação da aplicação"
          },
          "mods": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Módulos adicionais ou dependências"
          },
          "autoDeployGit": {
            "type": "string",
            "description": "Configuração Git/GitHub"
          },
          "autoRestart": {
            "type": "boolean",
            "description": "Se a aplicação reinicia automaticamente em caso de falha"
          }
        }
      },
      "AppResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "apps": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/App"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/App"
                }
              }
            ]
          }
        }
      },
      "AppStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da aplicação"
          },
          "container": {
            "type": "string",
            "description": "Status do contêiner da aplicação"
          },
          "cpu": {
            "type": "string",
            "description": "Uso atual de CPU da aplicação"
          },
          "memory": {
            "type": "string",
            "description": "Uso e alocação de memória atual"
          },
          "ssd": {
            "type": "string",
            "description": "Espaço de armazenamento usado pela aplicação"
          },
          "netIO": {
            "type": "object",
            "properties": {
              "down": {
                "type": "string",
                "description": "Uso de download de rede"
              },
              "up": {
                "type": "string",
                "description": "Uso de upload de rede"
              }
            }
          },
          "last_restart": {
            "type": "string",
            "description": "Tempo desde a última reinicialização da aplicação"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp de quando a aplicação foi iniciada"
          }
        }
      },
      "AppStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "apps": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AppStatus"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppStatus"
                }
              }
            ]
          }
        }
      },
      "AppLogs": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da aplicação"
          },
          "terminal": {
            "type": "object",
            "properties": {
              "big": {
                "type": "string",
                "description": "Logs completos da aplicação"
              },
              "small": {
                "type": "string",
                "description": "Logs condensados da aplicação"
              },
              "url": {
                "type": "string",
                "description": "URL para visualizar os logs online"
              }
            }
          }
        }
      },
      "AppLogsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "apps": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AppLogs"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppLogs"
                }
              }
            ]
          }
        }
      },
      "AppBackup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da aplicação"
          },
          "url": {
            "type": "string",
            "description": "URL para baixar o backup da aplicação"
          }
        }
      },
      "AppBackupResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "backups": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AppBackup"
              },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AppBackup"
                }
              }
            ]
          }
        }
      },
      "AppStartStatus": {
        "type": "object",
        "properties": {
          "online": {
            "type": "boolean",
            "description": "Se a aplicaçãoestá online"
          },
          "ramKilled": {
            "type": "boolean",
            "description": "Se a aplicação foi desligada devido a ultrapassagem da quantidade de RAM"
          },
          "exitCode": {
            "type": "integer",
            "description": "O código de saída do processo da aplicação"
          }
        }
      },
      "AppStartResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "appStatus": {
            "$ref": "#/components/schemas/AppStartStatus"
          }
        }
      },
      "AppRestartResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AppStopResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AppRamUpdateRequest": {
        "type": "object",
        "required": [
          "ramMB"
        ],
        "properties": {
          "ramMB": {
            "type": "integer",
            "description": "A quantidade de RAM em MB para alocar a aplicação",
            "example": 200
          }
        }
      },
      "AppRamUpdateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AppDeleteResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TeamMember": {
        "type": "object",
        "properties": {
          "modID": {
            "type": "string",
            "description": "O ID do membro da equipe"
          },
          "perms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permissões concedidas ao membro da equipe"
          }
        }
      },
      "TeamResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string",
            "description": "Presente apenas em respostas de erro"
          },
          "team": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMember"
            }
          }
        }
      },
      "TeamMemberAddRequest": {
        "type": "object",
        "required": [
          "modID",
          "perms"
        ],
        "properties": {
          "modID": {
            "type": "string",
            "description": "O ID do usuário a ser adicionado como membro da equipe"
          },
          "perms": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "start_app",
                "stop_app",
                "restart_app",
                "logs_app",
                "commit_app",
                "edit_ram",
                "backup_app",
                "status_app"
              ]
            },
            "description": "Permissões a serem concedidas ao membro da equipe"
          }
        }
      },
      "TeamMemberAddResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "app": {
            "type": "object",
            "properties": {
              "modID": {
                "type": "string",
                "description": "O ID do membro da equipe"
              },
              "appID": {
                "type": "string",
                "description": "O ID da aplicação"
              },
              "perms": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Permissões concedidas ao membro da equipe"
              }
            }
          }
        }
      },
      "TeamMemberRemoveResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TeamMemberApp": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID da aplicação"
          },
          "name": {
            "type": "string",
            "description": "Nome da aplicação"
          },
          "type": {
            "type": "integer",
            "description": "Tipo da aplicação"
          },
          "ram": {
            "type": "integer",
            "description": "RAM alocada para a aplicação (em MB)"
          },
          "online": {
            "type": "boolean",
            "description": "Se a aplicação está atualmente online"
          },
          "ramKilled": {
            "type": "boolean",
            "description": "Se a aplicação foi desligada devido a ultrapassagem da quantidade de RAM"
          },
          "exitCode": {
            "type": "integer",
            "description": "Código de saída da aplicação, se ele foi interrompido"
          },
          "lang": {
            "type": "string",
            "description": "Linguagem de programação da aplicação"
          },
          "perms": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permissões concedidas ao membro da equipe para esta aplicação"
          }
        }
      },
      "TeamMemberAppsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string",
            "description": "Presente apenas em respostas de erro"
          },
          "apps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TeamMemberApp"
            }
          }
        }
      },
      "AppProfileUpdateRequest": {
        "type": "object",
        "required": [
          "avatarURL",
          "name"
        ],
        "properties": {
          "avatarURL": {
            "type": "string",
            "description": "URL para a imagem do avatar da aplicação",
            "example": "https://i.ibb.co/0yJhZw92/Uma01.png"
          },
          "name": {
            "type": "string",
            "description": "Nome da aplicação",
            "example": "Discloud App"
          }
        }
      },
      "AppProfileUpdateResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ExecRequest": {
        "properties": {
          "cmd": {
            "type": "string",
            "description": "Comando a ser executado no container"
          }
        },
        "type": "object",
        "required": [
          "cmd"
        ]
      },
      "ExecOutput": {
        "properties": {
          "stdout": {
            "type": "string",
            "description": "Saída padrão do comando"
          },
          "stderr": {
            "type": "string",
            "description": "Erro padrão do comando"
          },
          "exitCode": {
            "type": "integer",
            "description": "Código de saída do comando"
          }
        },
        "type": "object"
      },
      "ExecResponse": {
        "properties": {
          "status": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "exec": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ExecOutput"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-token"
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Usuário",
      "description": "Operações sobre usuários"
    },
    {
      "name": "Aplicações",
      "description": "Operações sobre Aplicações"
    },
    {
      "name": "Gerenciamento de Equipe",
      "description": "Operações sobre gerenciamento de equipe"
    },
    {
      "name": "Membro da Equipe",
      "description": "Operações sobre membros da equipe"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "Usuário"
        ],
        "summary": "Obter informações do usuário atual",
        "description": "Retorna informações sobre o usuário autenticado",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Operação bem-sucedida",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "Os dados do usuário foram carregados com sucesso",
                  "user": {
                    "userID": "803658045736878080",
                    "totalRamMb": 16384,
                    "ramUsedMb": 3386,
                    "subdomains": [
                      "exemplo"
                    ],
                    "customdomains": [
                      "example.discloud.com"
                    ],
                    "apps": [
                      "1719010867306"
                    ],
                    "plan": "Safira",
                    "locale": "pt-BR",
                    "lastDataLeft": {
                      "days": 264,
                      "hours": 12,
                      "minutes": 6,
                      "seconds": 56
                    },
                    "planDataEnd": "2026-01-12T22:28:58.189Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locale/{locale}": {
      "put": {
        "tags": [
          "Usuário"
        ],
        "summary": "Atualizar local do usuário",
        "description": "Atualiza o idioma preferido do usuário",
        "operationId": "updateUserLocale",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "description": "O idioma a ser definido para o usuário",
            "schema": {
              "type": "string",
              "enum": [
                "pt-BR",
                "en-US"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Idioma atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocaleResponse"
                },
                "example": {
                  "status": "ok",
                  "locale": "en-US"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Idioma especificado inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocaleErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "A tradução para a linguagem fr-FR ainda não existe.",
                  "localeList": [
                    "pt-BR",
                    "en-US"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Fazer upload da aplicação",
        "description": "Faz upload de uma nova aplicação para a Discloud",
        "operationId": "uploadApplication",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo da aplicação para fazer upload (formato .ZIP)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta do upload",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/UploadErrorResponse"
                    }
                  ]
                },
                "examples": {
                  "success": {
                    "summary": "Upload bem-sucedido (pode expirar)",
                    "description": "Quando bem-sucedido, a solicitação pode expirar sem retornar uma resposta"
                  },
                  "missingConfigFile": {
                    "value": {
                      "status": "error",
                      "statusCode": 93,
                      "message": "O arquivo discloud.config não foi encontrado dentro do .zip enviado."
                    },
                    "summary": "Arquivo discloud.config ausente"
                  },
                  "planLimitReached": {
                    "value": {
                      "status": "error",
                      "message": "Você atingiu o limite de aplicações que pode hospedar ou alocou toda a RAM disponível do seu plano."
                    },
                    "summary": "Limite do plano atingido"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Arquivo obrigatório ausente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Arquivo obrigatório"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}": {
      "get": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Obter informações da aplicação",
        "description": "Recupera informações sobre uma aplicação específica ou todas as aplicações",
        "operationId": "getAppInfo",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação ou \"all\" para recuperar todas as aplicações",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações da aplicação recuperadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "As informações da sua aplicação foram carregadas.",
                  "apps": {
                    "id": "1745338954955",
                    "avatarURL": "https://i.ibb.co/xSxd0Hv1/Uma105.png",
                    "name": "Temp2 - JS",
                    "type": 0,
                    "online": true,
                    "ramKilled": false,
                    "exitCode": 0,
                    "ram": 100,
                    "mainFile": "src/index.js",
                    "lang": "javascript",
                    "mods": [],
                    "autoDeployGit": "no",
                    "autoRestart": false
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/status": {
      "get": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Obter status da aplicação",
        "description": "Recupera informações de status sobre uma aplicação específica ou todas as aplicações",
        "operationId": "getAppStatus",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação ou \"all\" para recuperar status de todas as aplicações",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status da aplicação obtido com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStatusResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "Os status de sua aplicação foram carregados.",
                  "apps": {
                    "id": "1745338954955",
                    "container": "Online",
                    "cpu": "0.00%",
                    "memory": "39.9MB/100MB",
                    "ssd": "1.999GB",
                    "netIO": {
                      "down": "61KB",
                      "up": "16KB"
                    },
                    "last_restart": "30 minutos",
                    "startedAt": "2025-04-22T16:24:55.978921501Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/logs": {
      "get": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Obter logs da aplicação",
        "description": "Recupera os logs de uma aplicação específica ou de todas as aplicações",
        "operationId": "getAppLogs",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação ou \"all\" para recuperar logs de todas as aplicações",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logs da aplicação recuperados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppLogsResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "Os logs de suas aplicações foram carregados.",
                  "apps": {
                    "id": "1745338954955",
                    "terminal": {
                      "big": "2025-04-22T14:30:00.123Z Aplicação iniciando...\n2025-04-22T14:30:01.234Z Ambiente: produção\n2025-04-22T14:30:01.567Z Carregando arquivos de configuração...\n2025-04-22T14:30:02.123Z Conexão com banco de dados estabelecida\n2025-04-22T14:30:02.456Z Inicializando módulos do servidor\n2025-04-22T14:30:03.678Z Servidor ouvindo na porta 3000\n2025-04-22T14:30:04.123Z Serviço WebSocket inicializado\n2025-04-22T14:30:04.567Z Cache aquecendo\n2025-04-22T14:30:05.234Z Inicialização da aplicação completa\n2025-04-22T14:30:06.123Z Processando solicitações iniciais",
                      "small": "2025-04-22T14:30:00.123Z Aplicação iniciando...\n2025-04-22T14:30:02.123Z Conexão com banco de dados estabelecida\n2025-04-22T14:30:03.678Z Servidor ouvindo na porta 3000\n2025-04-22T14:30:05.234Z Inicialização da aplicação completa",
                      "url": "discloud.app"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/backup": {
      "get": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Obter backup da aplicação",
        "description": "Gera e recupera o backup de uma aplicação específica ou de todas as aplicações",
        "operationId": "getAppBackup",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação ou \"all\" para recuperar backups de todas as aplicações",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Backup da aplicação gerado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppBackupResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "O backup da sua aplicação será gerado com sucesso",
                  "backups": {
                    "id": "1745338954955",
                    "url": "https://discloud.app/backup/A1B2C3D4E5F6G7H8I9J0K1L2M3N4O5P6Q7R8S9T0U1V2W3X4Y5Z6.zip"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/start": {
      "put": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Iniciar aplicação",
        "description": "Inicia uma aplicação específica ou todas as aplicações",
        "operationId": "startApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação ou \"all\" para iniciar todas as aplicações",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aplicação iniciada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStartResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "ok",
                      "message": "Sua aplicação foi conectada.",
                      "appStatus": {
                        "online": true,
                        "ramKilled": false,
                        "exitCode": 0
                      }
                    }
                  },
                  "alreadyRunning": {
                    "value": {
                      "status": "error",
                      "message": "Sua aplicação já está ligada.",
                      "appStatus": {
                        "online": true,
                        "ramKilled": false,
                        "exitCode": 0
                      }
                    },
                    "summary": "Aplicação já está ligada"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/restart": {
      "put": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Reiniciar aplicação",
        "description": "Reinicia uma aplicação específica ou todas as aplicações",
        "operationId": "restartApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação ou \"all\" para reiniciar todas as aplicações",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aplicação reiniciada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRestartResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "Sua aplicação foi reiniciada."
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/stop": {
      "put": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Parar aplicação",
        "description": "Para uma aplicação específica ou todas as aplicações",
        "operationId": "stopApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação ou \"all\" para parar todas as aplicações",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta de parada da aplicação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStopResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "ok",
                      "message": "Sua aplicação foi parada."
                    },
                    "summary": "Aplicação parada com sucesso"
                  },
                  "alreadyStopped": {
                    "value": {
                      "status": "error",
                      "message": "Sua aplicação já está parada."
                    },
                    "summary": "Aplicação já parada"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/ram": {
      "put": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Atualizar RAM da aplicação",
        "description": "Atualiza a alocação de RAM para uma aplicação específica",
        "operationId": "updateAppRam",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para atualizar a RAM",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppRamUpdateRequest"
              },
              "example": {
                "ramMB": 200
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta de atualização de RAM",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRamUpdateResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "ok",
                      "statusCode": 200,
                      "message": "A memória do seu aplicativo foi alterada com sucesso."
                    },
                    "summary": "RAM atualizada com sucesso"
                  },
                  "insufficientRam": {
                    "value": {
                      "status": "error",
                      "message": "Você não pode colocar 14000 mb de RAM em seu aplicativo, apenas 13098 mb de RAM estão disponíveis."
                    },
                    "summary": "RAM disponível insuficiente"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada ou limitação do plano",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "examples": {
                  "appNotFound": {
                    "value": {
                      "status": "error",
                      "message": "Aplicação não encontrada"
                    },
                    "summary": "Aplicação não encontrada"
                  },
                  "planLimitation": {
                    "value": {
                      "status": "error",
                      "message": "A alteração da memória utilizada por aplicações está disponível apenas para doadores Carbon ou superiores."
                    },
                    "summary": "Limitação do plano gratuito"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/commit": {
      "put": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Atualizar código da aplicação",
        "description": "Atualiza uma aplicação existente fazendo upload de uma nova versão do código",
        "operationId": "commitAppChanges",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação a ser atualizada",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo da aplicação a ser enviado (formato .ZIP)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resposta de commit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "summary": "Commit bem-sucedido (pode expirar)",
                  "description": "Quando bem-sucedido, a solicitação pode expirar sem retornar uma resposta"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/profile": {
      "put": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Atualizar perfil da aplicação",
        "description": "Atualiza as informações de perfil (avatar e nome) de uma aplicação específica",
        "operationId": "updateAppProfile",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação a ser atualizada",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppProfileUpdateRequest"
              },
              "example": {
                "avatarURL": "https://i.ibb.co/0yJhZw92/Uma01.png",
                "name": "Discloud App"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perfil da aplicação atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppProfileUpdateResponse"
                },
                "example": {
                  "status": "ok",
                  "statusCode": 200,
                  "message": "Perfil modificado com sucesso!"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/explorer": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Listar arquivos e pastas",
        "description": "Lista arquivos e pastas no diretório da aplicação",
        "operationId": "listExplorer",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cPath",
            "in": "query",
            "required": false,
            "description": "Caminho do diretório (padrão: workDir da app)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivos e pastas listados com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplorerListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão ou plano insuficiente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada ou caminho inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Criar arquivo ou pasta",
        "description": "Cria um novo arquivo ou pasta na aplicação",
        "operationId": "createExplorer",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplorerCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arquivo ou pasta criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplorerOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida - campos obrigatórios faltando",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão ou plano insuficiente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada ou caminho inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/explorer/open": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Abrir/ler arquivo",
        "description": "Lê o conteúdo de um arquivo na aplicação",
        "operationId": "openExplorer",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cPath",
            "in": "query",
            "required": true,
            "description": "Caminho completo do arquivo",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo aberto com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplorerOpenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão ou plano insuficiente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Arquivo não encontrado ou caminho inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/explorer/edit": {
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Editar arquivo",
        "description": "Edita o conteúdo de um arquivo na aplicação",
        "operationId": "editExplorer",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExplorerEditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Arquivo editado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplorerOperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida - campos obrigatórios faltando",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão ou plano insuficiente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Arquivo não encontrado ou caminho inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/exec": {
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Executar comando no container",
        "description": "Executa um comando dentro do container da aplicação",
        "operationId": "execCommand",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecRequest"
              },
              "example": {
                "cmd": "ls -la"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Comando executado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecResponse"
                },
                "example": {
                  "status": "ok",
                  "statusCode": 200,
                  "message": "ok",
                  "exec": {
                    "stdout": "total 48\ndrwxr-xr-x 5 user user 4096 Dec 17 10:30 .\n...",
                    "stderr": "",
                    "exitCode": 0
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sem permissão - apenas dono da app pode executar comandos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": "error",
                  "message": "Você não tem permissão para executar comandos"
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada ou offline",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecResponse"
                },
                "example": {
                  "status": "error",
                  "statusCode": 404,
                  "message": "app offline",
                  "exec": null
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/delete": {
      "delete": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Deletar aplicação",
        "description": "Deleta permanentemente uma aplicação",
        "operationId": "deleteApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação a ser deletada",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aplicação deletada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppDeleteResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "Sua aplicação foi removida."
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Aplicação não encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadErrorResponse"
                },
                "example": {
                  "status": "error",
                  "message": "Aplicação não encontrada"
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/team": {
      "get": {
        "tags": [
          "Gerenciamento de Equipe"
        ],
        "summary": "Obter membros da equipe da aplicação",
        "description": "Recupera a lista de membros da equipe para uma aplicação específica",
        "operationId": "getAppTeam",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para a qual recuperar a equipe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Equipe recuperada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                },
                "example": {
                  "status": "ok",
                  "team": [
                    {
                      "modID": "197651928518230016",
                      "perms": [
                        "start_app",
                        "stop_app",
                        "restart_app",
                        "logs_app",
                        "commit_app",
                        "edit_ram",
                        "backup_app",
                        "status_app"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Equipe não encontrada ou limitação de plano",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "team": {
                      "type": "array",
                      "description": "Presente apenas na resposta de nenhum membro da equipe"
                    }
                  }
                },
                "examples": {
                  "appNotFound": {
                    "value": {
                      "status": "error",
                      "message": "Aplicação não encontrada"
                    },
                    "summary": "Aplicação não encontrada"
                  },
                  "planLimitation": {
                    "value": {
                      "status": "error",
                      "message": "O sistema de moderadores está disponível apenas para doadores de nível ouro ou superior."
                    },
                    "summary": "Limitação de plano"
                  },
                  "noTeamMembers": {
                    "value": {
                      "status": "error",
                      "message": "Você não está em nenhuma equipe de aplicativos.",
                      "team": []
                    },
                    "summary": "Nenhum membro da equipe"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Adicionar membro à equipe",
        "description": "Adiciona um novo membro à equipe de uma aplicação com permissões especificadas",
        "operationId": "addAppTeamMember",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para a qual adicionar um membro à equipe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMemberAddRequest"
              },
              "example": {
                "modID": "197651928518230016",
                "perms": [
                  "start_app",
                  "stop_app",
                  "restart_app",
                  "logs_app",
                  "commit_app",
                  "edit_ram",
                  "backup_app",
                  "status_app"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membro da equipe adicionado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMemberAddResponse"
                },
                "example": {
                  "status": "ok",
                  "app": {
                    "modID": "197651928518230016",
                    "appID": "1745287471226",
                    "perms": [
                      "start_app",
                      "stop_app",
                      "restart_app",
                      "logs_app",
                      "commit_app",
                      "edit_ram",
                      "backup_app",
                      "status_app"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Erros de não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "appNotFound": {
                    "value": {
                      "status": "error",
                      "message": "Aplicação não encontrada"
                    },
                    "summary": "Aplicação não encontrada"
                  },
                  "planLimitation": {
                    "value": {
                      "status": "error",
                      "message": "O sistema de moderadores está disponível apenas para doadores de nível ouro ou superior."
                    },
                    "summary": "Limitação de plano"
                  },
                  "userNotRegistered": {
                    "value": {
                      "status": "error",
                      "message": "O usuário que deseja registrar como moderador não está registrado em nosso site."
                    },
                    "summary": "Usuário não registrado"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Erro de conflito",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Esse moderador já foi registrado."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Aplicações"
        ],
        "summary": "Atualizar permissões do membro da equipe",
        "description": "Atualiza as permissões de um membro da equipe existente de uma aplicação",
        "operationId": "updateAppTeamMember",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para atualizar o membro da equipe",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMemberAddRequest"
              },
              "example": {
                "modID": "197651928518230016",
                "perms": [
                  "start_app",
                  "stop_app",
                  "restart_app",
                  "logs_app",
                  "commit_app",
                  "edit_ram",
                  "backup_app",
                  "status_app"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permissões do membro da equipe atualizadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMemberAddResponse"
                },
                "example": {
                  "status": "ok",
                  "app": {
                    "modID": "197651928518230016",
                    "appID": "1745287471226",
                    "perms": [
                      "start_app",
                      "stop_app",
                      "restart_app",
                      "logs_app",
                      "commit_app",
                      "edit_ram",
                      "backup_app",
                      "status_app"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Erros de não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "appNotFound": {
                    "value": {
                      "status": "error",
                      "message": "Aplicação não encontrada"
                    },
                    "summary": "Aplicação não encontrada"
                  },
                  "planLimitation": {
                    "value": {
                      "status": "error",
                      "message": "O sistema de moderadores está disponível apenas para doadores de nível ouro ou superior."
                    },
                    "summary": "Limitação de plano"
                  },
                  "modNotFound": {
                    "value": {
                      "status": "error",
                      "message": "Este moderador não existe neste aplicativo."
                    },
                    "summary": "Membro da equipe não encontrado"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/app/{appID}/team/{modID}": {
      "delete": {
        "tags": [
          "Gerenciamento de Equipe"
        ],
        "summary": "Remover membro da equipe",
        "description": "Remove um membro da equipe de uma aplicação",
        "operationId": "removeAppTeamMember",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para remover o membro da equipe",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "modID",
            "in": "path",
            "required": true,
            "description": "ID do membro da equipe para remover",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Membro da equipe removido com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMemberRemoveResponse"
                },
                "example": {
                  "status": "ok",
                  "message": "Moderador removido do aplicativo."
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Erros de não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "appNotFound": {
                    "value": {
                      "status": "error",
                      "message": "Aplicação não encontrada"
                    },
                    "summary": "Aplicação não encontrada"
                  },
                  "planLimitation": {
                    "value": {
                      "status": "error",
                      "message": "O sistema de moderadores está disponível apenas para doadores de nível ouro ou superior."
                    },
                    "summary": "Limitação de plano"
                  },
                  "modNotFound": {
                    "value": {
                      "status": "error",
                      "message": "Aplicação não encontrada"
                    },
                    "summary": "Membro da equipe não encontrado"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team": {
      "get": {
        "tags": [
          "Membro da Equipe"
        ],
        "summary": "Obter aplicações do membro da equipe",
        "description": "Recupera a lista de aplicações que o usuário autenticado tem acesso como membro da equipe",
        "operationId": "getTeamMemberApps",
        "responses": {
          "200": {
            "description": "Aplicações do membro da equipe recuperadas com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMemberAppsResponse"
                },
                "example": {
                  "status": "ok",
                  "apps": [
                    {
                      "id": "1745287471226",
                      "name": "Temp1 - JS",
                      "type": 0,
                      "ram": 100,
                      "online": true,
                      "ramKilled": false,
                      "exitCode": 0,
                      "lang": "javascript",
                      "perms": [
                        "start_app",
                        "stop_app",
                        "restart_app",
                        "logs_app",
                        "commit_app",
                        "edit_ram",
                        "backup_app",
                        "status_app"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Não está em nenhuma equipe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "apps": {
                      "type": "array",
                      "items": {}
                    }
                  }
                },
                "example": {
                  "status": "error",
                  "message": "Você não está em nenhuma equipe de aplicativo",
                  "apps": []
                }
              }
            }
          }
        }
      }
    },
    "/team/{appID}/start": {
      "put": {
        "tags": [
          "Membro da Equipe"
        ],
        "summary": "Iniciar aplicação como membro da equipe",
        "description": "Inicia uma aplicação que o usuário autenticado tem acesso como membro da equipe",
        "operationId": "startTeamApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para iniciar",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta de início da aplicação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "ok",
                      "message": "Sua aplicação foi conectada."
                    },
                    "summary": "Aplicação iniciada com sucesso"
                  },
                  "alreadyRunning": {
                    "value": {
                      "status": "error",
                      "message": "Sua aplicação já está ligada."
                    },
                    "summary": "Aplicação já está em execução"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Erro de autorização",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "notTeamMember": {
                    "value": {
                      "status": "error",
                      "message": "Você não pertence a nenhuma equipe do aplicativo 17452874712261"
                    },
                    "summary": "Não é membro da equipe"
                  },
                  "noPermission": {
                    "value": {
                      "status": "error",
                      "message": "Você não pertence a nenhuma equipe do aplicativo 1745287471226"
                    },
                    "summary": "Sem permissão para iniciar"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/{appID}/restart": {
      "put": {
        "tags": [
          "Membro da Equipe"
        ],
        "summary": "Reiniciar aplicação como membro da equipe",
        "description": "Reinicia uma aplicação que o usuário autenticado tem acesso como membro da equipe",
        "operationId": "restartTeamApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para reiniciar",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta de reinício da aplicação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "ok",
                  "message": "Sua aplicação foi reiniciada."
                }
              }
            }
          },
          "401": {
            "description": "Erro de autenticação",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "noToken": {
                    "value": {
                      "message": "Bloqueado"
                    },
                    "summary": "Nenhum token fornecido"
                  },
                  "invalidToken": {
                    "value": {
                      "message": "Por favor, forneça um token válido"
                    },
                    "summary": "Token inválido fornecido"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Erro de autorização",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "notTeamMember": {
                    "value": {
                      "status": "error",
                      "message": "Você não pertence a nenhuma equipe do aplicativo 17452874712261"
                    },
                    "summary": "Não é membro da equipe"
                  },
                  "noPermission": {
                    "value": {
                      "status": "error",
                      "message": "Você não pertence a nenhuma equipe do aplicativo 1745287471226"
                    },
                    "summary": "Sem permissão para reiniciar"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/team/{appID}/stop": {
      "put": {
        "tags": [
          "Membro da Equipe"
        ],
        "summary": "Parar aplicação como membro da equipe",
        "description": "Para uma aplicação que o usuário autenticado tem acesso como membro da equipe",
        "operationId": "stopTeamApp",
        "parameters": [
          {
            "name": "appID",
            "in": "path",
            "required": true,
            "description": "ID da aplicação para parar",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resposta de parada da aplicação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "value": {
                      "status": "ok",
                      "message": "Sua aplicação foi desligada."
                    },
                    "summary": "Aplicação parada com sucesso"
                  },
                  "alreadyStopped": {
                    "value": {
                      "status": "error",
                      "message": "Sua aplicação já está desligada."
                    },
[...]
